@tailwind base;
@tailwind components;
@tailwind utilities;

#page-content {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#page-content.fade-out {
  opacity: 0;
}

/* a:hover svg {
  fill: white;
}

a:focus svg {
  fill: white;
}

a:active svg {
  fill: white;
} */

.container#blur.active {
  filter: blur(2px);
  background: rgba(5, 15, 56, 0.22);
  pointer-events: none;
  user-select: none;
}

.container#sellerBlur.active {
  filter: opacity(0);
  background: rgba(255, 255, 255, 0.22);
  pointer-events: none;
  user-select: none;
}

#complete.close {
  display: none;
}

select#currency option[value="USA"] {
  background-image: url('./images/us.png');
}

#showIcn.hide {
  display: none;
}

#hideIcn {
  display: none;
}

#hideIcn.show {
  display: block;
}

#P2PDropdown.show {
  display: block;
  transition: 200ms ease-in-out;
}

#portP2PDropdown.show {
  display: block;
  transition: 200ms ease-in-out;
}

#balance.hide {
  display: none;
}

#hideBalance {
  display: none;
}

#hideBalance.show {
  display: block;
}

#cryptoBtn.active {
  font-weight: 700;
}

#portfolioBtn.active {
  font-weight: 700;
}

#crypto.hide {
  display: none;
}

#portfolio {
  display: none;
}

#portfolio.show {
  display: table;
}

#selectContent {
  display: none;
}

#selectContent.show {
  display: block;
}

tr {
  border-bottom: 1px solid #E4E7EC !important;
}

th {
  cursor: pointer;
}

.days ul> button:active {
  font-weight: 700;
  color: black;
}

.days ul> button:focus {
  font-weight: 700;
  color: black;
}

#allBtn.active {
  font-weight: 700;
}

#recievedBtn.active {
  font-weight: 700;
}

#sentBtn.active {
  font-weight: 700;
}

#modal {
  position: fixed;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 30);
  transition: 0.5s;
}

#modal.active {
  top: 20rem;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

@media (min-width: 768px) {
  #modal.active {
    top: 17rem;
  }
}

@media (min-width: 1024px) {
  #modal.active {
    top: 20rem;
  }
}

#sellerModal {
  position: fixed;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

#sellerModal.active {
  top: 17rem;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

@media (min-width: 768px) {
  #sellerModal.active {
    top: 17rem;
  }
}

@media (min-width: 1024px) {
  #sellerModal.active {
    top: 20rem;
  }
}